.bg {
  background-size: cover;
}

.white-bg {
  background-color:white;
  width: 500px;
  height: auto;
  padding-bottom: 50px;
}

/* .pure-group {
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 0px;
} */
/* body {
  margin: 2em;
} */
.btn {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 230); /* this is a green */
  font-size: 150%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#coName, #email, #inNumber, #rtReason, #reasonArea {
  width: 65%;
}

.thankyou {
  padding: 30px;
}
